<div class="row">
  <div class="col">
    <mat-card>
      <h1>Login</h1>
      <form [formGroup]="loginForm">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Enter your Email</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              required
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <button mat-raised-button color="primary" (click)="login()">
            Login
          </button>
        </div>
      </form>
      <span>Click Here to</span>
      <a class="underlineHover" routerLink="/register">Register</a>
    </mat-card>
  </div>
</div>
