<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form [formGroup]="loginForm">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Enter your UserName</mat-label>
          <input
            matInput
            placeholder="UserName"
            formControlName="username"
            required
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" (click)="onLoginSubmit()">
          Login
        </button>
      </div>
    </form>
    <div>
      <span>Click Here to</span>
      <a class="underlineHover" routerLink="/register">Register</a>
    </div>
  </div>
</div>
